/* Geral */
* {
  font-family: monospace;
  padding: 0;
  margin: 0;
}
/* Corpo */
body {
  color: black;
  background-image: url(./img/fundo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
/* Cabeçalho */
header {
  height: 50px;
}
/* Textos */
label {
  color: aliceblue;
}
h1 {
  color: aliceblue;
  font-size: 45px;
  font-weight: bolder;
}
p {
  color: aliceblue;
  margin: 25px 0px 25px 0px;
  font-size: 19px;
}
a {
  color: white;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}
/* Inputs */
input {
  box-sizing: border-box;
  height: 50px;
  width: 270px;
  padding-left: 10px;
  margin: 10px;
}
input::placeholder {
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
}
/* Botoes */
button.botao {
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  height: 50px;
  width: 270px;
  transition: 0.3s;
}
button#entrar {
  background-color: rgb(124, 8, 8);
}
button:hover {
  cursor: pointer;
}
button#cod-acesso {
  font-size: 18px;
  background-color: rgba(218, 205, 236, 0.6);
}
button#cod-acesso:hover {
  opacity: 0.8;
}
input#checkbox {
  height: 18px;
}
/* Ids */
div#principal {
  position: fixed;
  left: 400px;
  bottom: 0;
  height: 500px;
  width: 500px;
  /* margin: 20px; */
  padding: 10px;
  text-align: center;
  box-shadow: 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
